

<div class="row">
<div class="col-1">
</div>
  <div class="col-9">


<h3>Please peruse our wares and if theirs anything specfic your interested in, let us know with a comment!</h3>
<% if @products.any? %>
<% @products.each do |product| %>
<ul>
  <li><%= link_to product.name, product_path(product) %></li>
</ul>

<% end %>
<% else %>
<p>Oh no, our shelves are bare! Please return soon when we've restocked 😅</p>
<% end  %>

<% if current_user && current_user.admin? %>
<p><%= link_to "Create new product", new_product_path %></p>
<% else %>
<p>Sorry, you do not have the access required to add products</p>
<% end %>
<p><%= link_to "Check out our most reviewed items!", '/most-reviewed' %></p>
<p><%= link_to "See our newest stock!", '/recent' %></p>
<p><%= link_to "Buy Local here!", '/america' %></p>
</div>
<div class="col-2">

</div>
</div>
