<%# <% if @product.errors.any? %> %>
  <!-- <h3>Please fix these errors:</h3>
  <ul> -->
    <%# <% @product.errors.full_messages.each do |message| %> %>
      <!-- <li><%= message %></li> -->
    <%# <% end %> %>
  <!-- </ul> -->
<%# <% end %> %>

<h2>New Product!</h2>

<%= form_for @product do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %><br>
  <%= f.label :cost %>
  <%= f.text_field :cost %><br>
  <%= f.label :country %>
  <%= f.text_field :country %><br>
  <%= f.submit  %>
<% end %>

<p><%= link_to "Return to index", products_path %></p>
