<h1>New Album</h1>

<%= render "layouts/project_form" %>

<h1>New Product!</h1>

<%= form_for @product do |f| %>
  <%= f.label :name %>
  <%= f.file_field :name %>
  <%= f.label :cost %>
  <%= f.file_field :cost %>
  <%= f.label :country_of_origin %>
  <%= f.file_field :country_of_origin %>
  <%= f.submit  %>
<% end %>
