<h2>New Album</h2>



<h2>New Product!</h2>

<%= form_for @product do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %><br>
  <%= f.label :cost %>
  <%= f.text_field :cost %><br>
  <%= f.label :country %>
  <%= f.text_field :country %><br>
  <%= f.submit  %>
<% end %>

<p><%= link_to "Return to index", products_path %></p>
