<div class="row">
<div class="col-1">
</div>
  <div class="col-6">



<h1><%= @product.name %></h1>
<h3>The price is: <%= @product.cost %></h3>
<h3>This item was made in: <%= @product.country %></h3>


<% if @product.reviews.any? %>
<h4>Here are the users who have reviewed this product:</h4>

<% @product.reviews.each do |review| %>
<ul>
  <li>
    <%=  review.author %>
    <ul>
      <li> Rating: <%= review.rating %></li>
      <p><%= review.content %></p>
      </ul>
    </li>
  </ul>
  <% end %>
  <% else %>
  <p>No reviews are listed for this product.</p>
  <% end %>


  </div>
  <div class="col-5">
    <% if user_signed_in? %>
    <p><%= link_to "Add a review", new_product_review_path(@product) %></p>


    <% if current_user && current_user.admin? %>
    <p><%= link_to "Edit", edit_product_path(@product) %></p>
    <p><%= link_to "Delete product", product_path(@product),
      :data => {:confirm => "Are you sure?",
      :method => "delete"} %></p>
      <% else %>
      <p>Sorry, you do not have the access required to edit or delete products</p>
      <% end %>
      <% else %>
      <p>Sign in to add a review</p>
      <% end %>
    <p><%= link_to "Return to products", products_path %></p>

  </div>
  </div>
